.heading {
  display: flex;
  object-fit: contain;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: black;
  border-bottom-right-radius: 45px;
  border-bottom-left-radius: 45px;
   
}

img{
  max-width: 18%;
  max-height: 100%
  }
  