
furever/ios/App/App/public/.gitkeep
furever/ios/App/App/public/.gitkeep
furever/ios/App/App/public/cordova.js
furever/ios/App/App/public/cordova_plugins.js
furever/ios/App/App/public/cordova.js
furever/ios/App/App/public/cordova.js
furever/ios/capacitor-cordova-ios-plugins/CordovaPlugins.podspec
furever/ios/capacitor-cordova-ios-plugins/CordovaPluginsResources.podspec
