.parent-container {
  text-align: center;
}

.resources {
  
  color: var(--color-dark);
  border-radius: 7px;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  padding: 10px .5rem;
  margin-bottom: 1rem;
  display: inline-block;
}


.resource-list {
  background: var(--color-grey);
  border: 1px solid #ccc; 
  border-radius: 8px;
  padding: 1rem; 
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 20px;

}

.organization-card {
  border: 1px solid var(--color-dark);
  padding: 30px;
  border-radius: 8px;
}