

.animal-details {
  background-color: var(--color-dark);
  padding: 10px;
  align-items: center; 
  text-align: center;  
  border-top-right-radius: 45px;
  border-top-left-radius: 45px;
  border-bottom-right-radius: 45px;
  border-bottom-left-radius: 45px;
  border:  solid transparent;
  

}

.animal-details img {
  object-position: center;
  object-fit: cover;
  width: 100%;
  max-height: 700px;
  max-width: 100%;
  height: auto;
  flex-shrink: 0;
  margin: 20px;
  height: calc(400px + 6vw);
  width: calc(500px + 6vw);
  border: calc(8px + 0.2vw) solid transparent;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 45px;
  border-bottom-left-radius: 45px;
  border-top-right-radius: 45px;
  border-top-left-radius: 45px; 

}

.animal-details h2 {
  margin-top: 10px;
}

.animal-details p {
  margin-bottom: 5px;
 
}

.react-swipeable-view-container {
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 1; 

}

.react-swipeable-view-slide {
  transition: transform 0.3s ease, opacity 0.3s ease;
  flex: 0 0 100%; 
  width: 100%; 
  display: flex;
  align-items: center; 
  justify-content: center;
  height: 100%;
  opacity: 1; 
  backface-visibility: hidden;
}

.react-swipeable-view-container.flipped {
  transform: rotateY(180deg);
}

.react-swipeable-view-slide.flipped {
  transform: rotateY(180deg);
}

.react-swipeable-view-container.flipped .animal-details-back p {
 
  transform: rotateY(180deg);
}

.react-swipeable-view-slide:not(.flipped) .animal-details-back {
  display: none;
}

.animal-details-back {
 
  background-color: var(--color-dark); 
  padding: 10px;
  border-radius: 45px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
  border: solid transparent;
  height: calc(640px + 6vw);
  width: calc(600px + 6vw);
  border: calc(8px + 0.2vw) solid transparent;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
  font-size: 1.5em;
  font-family: 'Comic Sans MS', cursive;
}

.animal-details-back {
  margin-left: -38%;
}

.animal-details-back h2{
  transform:rotateY(180deg)
    
  }

.animal-details-back img{
  border-radius: 45px; 
  width: 1500px;
}

